.container__cursos {
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    max-width: 400px;
}

.text__cursos {
    text-align: center;
    padding-top: 5rem;
    font-family: 'Montserrat';
}

.text__cursos2 {
    text-align: center;
    font-family: 'Montserrat';
}

.img__cursos {
    padding-top: .75rem;
    width: 100%;
}

.li__cursos {
    font-size: 1.2rem;
}

@media screen and (min-width: 960px){
    .container__cursos {
        max-width: 960px;
        display: block;
    }

    .text__cursos {
        margin-left: 26rem;
    }

    .text__cursos2{
        padding-left: 40rem;
        margin-top: -18rem;
    }

    .img__cursos {
        margin-left: 15rem;
        max-width: 400px;
    }

    .ul__cursos{
        margin-left: 40rem;
        width: 50%;
    }
    
    
}